<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHred="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]='form'>
    <ion-item>
      <ion-label position="floating">Nome:</ion-label>
      <ion-input formControlName="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CPF:</ion-label>
      <ion-input formControlName="cpf"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">RG:</ion-label>
      <ion-input formControlName="rg"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Data de Nascimento</ion-label>
      <ion-datetime formControlName="dataNascimento" displayFormat="DD/MM/YYYY"
        value="2000-01-01 00:00:00" min="1900-01-01"></ion-datetime>
    </ion-item>
    
    <ion-list>
      <ion-list-header>
        <ion-label>Aplicativo</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let aplicativo of aplicativos$|async">
        <ion-label>{{aplicativo.nome}}</ion-label>
        <ion-checkbox slot="end" value="{{aplicativo.id}}" formControlName="aplicativoId"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-radio-group formControlName="perfilId">
        <ion-list-header>
          <ion-label>Perfil</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Usuário Comum</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Gestor</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Administrador</ion-label>
          <ion-radio value="3"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>


  

    

    <ion-button expand="block" (click)="cadastrarPessoa()"
      [disabled]="form.invalid">
      Cadastrar
    </ion-button>
  </form>
</ion-content>
